language: scala
sudo: required
dist: trusty
script:
  # plz is like ++ except it skips projects that are not defined for that scala version.
  - sbt "plz $TRAVIS_SCALA_VERSION test"
jdk:
  - oraclejdk8
scala:
  - 2.10.6
  - 2.11.11
  - 2.12.2
  - 2.13.0-M1
env:
  - SCALAJS_VERSION=0.6.18
  - SCALAJS_VERSION=1.0.0-M1
matrix:
  include:
    - scala: 2.10.6
      jdk: openjdk7
before_install:
    - bash bin/travis_setup.sh
cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.nvm
before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
